
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-arrows-cw:before { content: '\e802'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */