$mainBackgroundColor: #FFFFFF;
$secondBackgroundColor: #E3E3E3;
$headerFontColor: #0077CC;
$accentColor: #54E1AC;
$errorColor: #E15454;
$successColor: $accentColor;
$fontColor: #4F4F4F;

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    background-color: $mainBackgroundColor;
    color: $fontColor;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    font-family: sans-serif;

    .top-bar {
        background: $secondBackgroundColor;
        overflow: hidden;
        flex: 0 0 50px;
        display: flex;
        align-items: center;
        padding-left: 10px;

        .app-header {
            flex: 1 auto;
            margin: 0;
            font-family: 'Alfa Slab One', cursive;
            font-weight: normal;

            a {
                text-decoration: none;
                color: $headerFontColor;
            }
        }

        .app-nav-overlay {
            position: absolute;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0);
            z-index: 50;
            visibility: hidden;
            transition: visibility 300ms, background-color 300ms;

            .app-nav {
                background: $secondBackgroundColor;
                overflow: auto;
                width: 250px;
                position: absolute;
                right: -250px;
                height: 100%;
                transition: right 300ms;
                padding: 0 10px;
                box-sizing: border-box;
                
                .menu {
                    list-style-type: none;
                    padding: 0;

                    li {
                        margin: 5px 0;

                        a {
                            border-left: solid 6px $accentColor;
                            text-decoration: none;
                            display: block;
                            padding: 10px;
                            color: $fontColor;

                            &.active {
                                background: $accentColor;
                            }
                        }
                    }
                }
            }

        }

        .menu-toggler {
            flex: 0 auto;
            font-size: 1.6em;
            border: none;
            background: none;
            border-radius: 0;
            color: $fontColor;

            i {
                margin-right: -12px;
            }
        }
    }

    &.menu-opened {
        .top-bar {
            .app-nav-overlay {
                visibility: visible;
                background-color: rgba(0, 0, 0, 0.7);

                .app-nav {
                    right: 0;
                }
            }
        }
    }

    .app-messages {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
        z-index: 100;
        pointer-events: none;
    }

    .app-scrollable {
        flex: 1 auto;
        overflow: auto;
        display: flex;
        flex-direction: column;

        .app-content {
            flex: 1 auto;
            padding: 0 10px 10px 10px;

            .page-title {
                font-family: 'Alfa Slab One', cursive;
                font-weight: normal;
                text-align: center;

                &:before,
                &:after {
                    content: ' $$$ ';
                    opacity: 0.5;
                    font-size: 0.7em;
                }
            }
        }

        .bottom-bar {
            flex: 0 auto;
            background-color: $secondBackgroundColor;
            padding: 0 10px;
        }
    }

    .section-title {
        font-family: 'Alfa Slab One', cursive;
        font-weight: normal;
        border-bottom: solid 2px $fontColor;
        font-size: 0.8em;
        text-transform: uppercase;
    }

    .banner {
        background-color: $fontColor;
        background-image: url(../img/money.jpg);
        background-size: cover;
        background-position: center;
        overflow: hidden;
        margin: 0 -10px;
        padding: 10px;
        font-size: 1.5em;
        letter-spacing: 2px;
        color: transparentize($mainBackgroundColor, 0.3);
        font-variant: small-caps;
        
        p {
            margin: 0;
        
            em {
                color: $accentColor;
                font-style: normal;
                font-style: normal;
                font-family: 'Alfa Slab One', cursive;
            }
        }
    }

    blockquote {
        position: relative;
        font-style: italic;

        &:before {
            content: "\201C";
            position: absolute;
            left: -35px;
            top: -10px;
            font-size: 3em;
        }
    }

    a {
        color: $headerFontColor;
    }

    button {
        border: none;
        background: $headerFontColor;
        color: $mainBackgroundColor;
        padding: 10px;
        font-size: 1em;
        transition: opacity 200ms, background-color 200ms;

        &:disabled {
            background: $fontColor;
            opacity: 0.3;
        }
    }

    input {
        border: none;
        background: none;
        border-bottom: solid 2px $accentColor;
        padding: 5px 0;
        font-size: 1em;
        transition: opacity 200ms, border-color 200ms;

        &:invalid {
            border-color: $errorColor;
        }

        &:disabled {
            border-color: $fontColor;
            opacity: 0.3;
        }
    }

    fieldset {
        padding: 0;
        margin: 0;
        border: none;
        margin-top: -10px;
    }

    .form {
        position: relative;

        .form-row {
            display: block;
            margin: 10px 0;

            .form-row-label {
                display: block;
                margin-bottom: 3px;
                text-transform: uppercase;
                font-size: 0.8em;
                font-weight: bold;
                color: transparentize($fontColor, 0.3);
            }

            .form-row-content {
                display: block;
                width: 100%;
            }
        }

        .form-confirm {
            display: flex;
            justify-content: center;

            & > * {
                margin: 0 5px;
            }
        }

    }

    .message {
        padding: 10px;
        margin: 10px;
        border-style: solid;
        border-width: 1px 1px 1px 5px;
        box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
        overflow: hidden;

        &.severity-success {
            background: lighten($successColor, 20%);
            border-color: $successColor;
        }

        &.severity-error {
            background: lighten($errorColor, 20%);
            border-color: $errorColor;
        }

        &.message-enter {
            opacity: 0.01;
            max-height: 0;
        }
          
        &.message-enter.message-enter-active {
            opacity: 1;
            max-height: 400px;
            transition: opacity 300ms ease-in, max-height 300ms ease-in;
        }
          
        &.message-leave {
            opacity: 1;
            max-height: 400px;
        }
          
        &.message-leave.message-leave-active {
            opacity: 0.01;
            max-height: 0;
            transition: opacity 300ms ease-in, max-height 300ms ease-in;
        }
    }

    .page-alert {
        opacity: 0.7;
        text-align: center;
        padding: 60px 20px;

        .page-alert-icon {
            font-size: 5em;
            opacity: 0.5;
            margin-bottom: 20px;
            display: inline-block;
        }
    }
}